/* Copyright 2019 The MathWorks, Inc. */
.tooltip {
    text-align: center;
    background-color:white;
    max-width: 300px;					
    max-height: 100px;					
    font: 16px helvetica;		
    background: white;	
    border: 0px;		
    border-radius: 5px;			
    pointer-events: none;	
}
.chart-container {
    font: 22px helvetica;
    max-height:1000px;
    max-width:1000px;
    min-height:500px;
    min-width:500px;
}

svg {
    height: 100%;
    width: 100%;
}