

### bct ###

/data/datasets
/data/experimental
/data/mesh/external/brainstorm
/data/mesh/external/freesurfer
/data/bct/*.h5
debug.log
/external/.venv
/external/bioelectromagnetism
/external/gifti-main
/external/out
/external/iso2mesh
/external/meshfix
/external/toolbox_graph
/external/gptoolbox
/external/brainstorm3
/docs/site
/external/bioelectromagnetism/MINC/
/external/toolbox_graph
/external/toolbox_signal
/external/toolbox_general
# Test files
/data
/external/TrivialConnectionsMATLAB
/external/fieldgen
/external/geometry-processing-js
/external/code_stripes
/external/code_comb
/toolbox/+bct/+data/assets/brainstorm/data
/experimental
/.github